<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">MacScratch!</h1>
            <p>Discover the rich tapestry of Macedonian cultural and historical wonders with MacScratch, a dedicated web application designed to bring the nation's heritage to your fingertips.
                            Our web application is a labor of love, meticulously crafted to showcase the beauty and significance of the nation's heritage. </p>
            <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up &raquo;</a></p>
            <span style="display: block; margin-top: 50px">Telephone number: +389 71 234 567</span>
            <span style="display: block">Email: scratch.me.baby@info.com</span>
        </div>
    </div>
</main>